{% extends "main.html" %}

{% block content %}
<style>
    .head_title.text-center > h1{
        color:rgb(35, 35, 35); 
        font-size: 50px; 
        font-family: 'Kaushan Script', cursive;
    }
</style>


<section id="about" class="about">
    <div class="container">
        <div class="row">

            <div class="main_about_area sections text-center">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="head_title text-center">
                        <h4 class="subtitle">what we do?</h4>
                        <h2>Story about us</h2>
                        <h1><i> Hot Ba</i> </h1>
                        <div class="separator"></div>
                        <p> Our goal of this project is to increase the adaption of abanded dogs.<br>
                           We provide several services for entertainment and We are looking forward that People who use this services can feel interested and have a curiousity about some abanded dogs. <br><br>
                           And Here are some keywords can present our service '멍결고리'
                        </p>

                    </div>

                    <div class="main_about_content">
                        <div class="col-sm-4 col-xs-12">
                            <div class="single_about">
                                <div class="single_about_img">
                                    <img src="../static/images/keyword .png" alt="" />
                                </div>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>





<section id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="main_service_area sections">
                    <div class="row">
                        <div class="head_title text-center">
                            <h4 class="subtitle">We work with</h4>
                            <h2>Amazing Services</h2>
                            <div class="separator"></div>
                        </div>

                        <div class="main_service_content">
                            <div class="col-sm-4">
                                <div class="single_service">
                                    <div class="single_service_icon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div>
                                        <h3>GPT</h3>
                                    </div>
                                        
                                    </div>
                                
                            </div>
                            <div class="col-sm-4">
                                <div class="single_service">
                                    <div class="single_service_icon">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                    <div>
                                        <h3>Stable diffusion</h3>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single_service">
                                    <div class="single_service_icon">
                                        <i class="fa fa-television"></i>
                                    </div>
                                    <div>
                                        <h3>Github</h3>
                                        
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="single_service">
                                    <div class="single_service_icon">
                                        <i class="fa fa-object-group"></i>
                                    </div>
                                    <div>
                                        <h3>AWS</h3>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>





<section id="client" class="client">
    <div class="home-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="main_client sections">
                        <div class="head_title text-center">
                            <h4 class="subtitle">Who we are?</h4>
                            <h2>Meet our team</h2>
                            <div class="separator"></div>                          
                        </div> 

                        <div class="main_client_content">
                            <div class="row">

                                <div class="col-sm-6 col-xs-12">
                                    <div class="single_client">
                                        <div class="single_client_img">
                                            <img class="img-circle img-responsive" src="../static/images/예찬.jpg" alt="" />
                                        </div>
                                        <div class="single_client_content">
                                            <p class="monseratregular">윤예찬</p>
                                            <p class="robotolight">Captain</p>
                                            <span class="separator4"></span>
                                            
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6 col-xs-12">
                                    <div class="single_client">
                                        <div class="single_client_img">
                                            <img class="img-circle img-responsive" src="../static/images/수빈.jpg" alt="" />
                                        </div>
                                        <div class="single_client_content">
                                            <p class="monseratregular">박수빈</p>
                                            <p class="robotolight">Member</p>
                                            <span class="separator4"></span>
                                            
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6 col-xs-12">
                                    <div class="single_client">
                                        <div class="single_client_img">
                                            <img class="img-circle img-responsive" src="../static/images/지원.jpg" alt="" />
                                        </div>
                                        <div class="single_client_content">
                                            <p class="monseratregular">이지원</p>
                                            <p class="robotolight">Member</p>
                                            <span class="separator4"></span>
                                            
                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-6 col-xs-12">
                                    <div class="single_client">
                                        <div class="single_client_img">
                                            <img class="img-circle img-responsive" src="../static/images/상욱.png" alt="" />
                                        </div>
                                        <div class="single_client_content">
                                            <p class="monseratregular">박상욱</p>
                                            <p class="robotolight">Member</p>
                                            <span class="separator4"></span>
                                            
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6 col-xs-12">
                                    <div class="single_client">
                                        <div class="single_client_img">
                                            <img class="img-circle img-responsive" src="../static/images/종현.jpg" alt="" />
                                        </div>
                                        <div class="single_client_content">
                                            <p class="monseratregular">고종현</p>
                                            <p class="robotolight">Member</p>
                                            <span class="separator4"></span>
                                            
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6 col-xs-12">
                                    <div class="single_client">
                                        <div class="single_client_img">
                                            <img class="img-circle img-responsive" src="../static/images/승엽.jpg" alt="" />
                                        </div>
                                        <div class="single_client_content">
                                            <p class="monseratregular">지승엽</p>
                                            <p class="robotolight">Member</p>
                                            <span class="separator4"></span>
                                            
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}