{% extends "main.html" %}

{% block content %}


<style>
    @font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    }
    
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    
    
    @font-face {
        font-family: 'GangwonEdu_OTFBoldA';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    #main_frame {
    width: 100%;
    position:relative;
}




#square1{
    position: relative;
    border: 2px dashed rgb(239, 239, 239);
    background-color:rgba(233, 236, 241, 0.5) ;
    width: 1100px;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 19.33333333%;

}

.image-container{
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: center;
    /* background-color: rgba(233, 236, 241, 0.5);
    border-radius: 20px; */
}

.dog-card {
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 310px;
  margin-left:10px;
  margin-right:10px;
}
.dog-card > a {
    width: 250px;
    height: 250px;
    position: relative;
}


.image-container img {
    /* border: 3px dashed rgb(202, 173, 216); */
    width: 250px;
    height: 250px;
    position: relative;

}

.highlight {
    background-color: pink;
    display: inline-block;
    padding: 0 8px;
    line-height: 0.7;
    font-family: 'HSSaemaul-Regular';
    font-size: 20px;

    
    color: rgb(35, 35, 35);
    font-weight: lighter;
}

.highlight2 {
    color: rgb(35, 35, 35);
    font-weight: lighter;
}


#p_container{
    width: 250px;
    height: 50px;
    position: relative;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#p_container > p {
    position: relative;
    border: 1px dotted rgb(255, 135, 221);
    width: 250px;
    height: 24px;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.dog-card a {
    position: relative;
    width: 250px;
    height: 250px;
}

.dog-card a img{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}





#board_container {
    padding-top: 50px;
    width: 100%;
    height: 50%;
    position: relative;
    border: 4px dashed rgb(253, 0, 0);
}


#title2{
    /* border: 2px solid fuchsia; */
    border: 2px dashed rgb(0, 0, 0);
    position: relative;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 5px; /* 텍스트와 테두리 간격 설정 */
    font-size: 24px; /* 텍스트 크기 설정 */
}





#board{
    width: 100%;
    height: 350px;

    display: flex;
    border: 1px solid rgb(7, 123, 255);
    position: relative;
    justify-content: center;
}


#square2{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    position: relative;
    border: 2px solid rgb(9, 255, 0);
    width: 1200px;
    height: 300px;
}

#p2{
    position: absolute;
    width: 450px;
    border: 2px solid rgb(7, 123, 255);
    vertical-align: middle;
}

.board-contents{
    position: absolute;
    border: 2px solid rgb(255, 51, 0);
    left: 450px;
    width: 600px;
    height: 250px;  
}


.dog_name{
    font-family: 'Pretendard-Regular';
    color: rgb(35, 35, 35);
    font-weight: lighter;
}



#info {
        box-sizing: border-box;
        margin-top: 3px;
    }

#info > div {
    height: 20px;
    width: 100%;
    text-align: left;
    display: block;
}




.h4 > a{
    font-family: 'Pretendard-Regular';
}

.img_frame {
    width:100%;
    height: 100%;
}

</style>



<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="main_about_area sections text-center">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="head_title text-center">
                        <h4 class="subtitle">Update daily</h4>
                        <h2 style="font-weight: border;">Today's mung</h2>
                        <div class="separator"></div>
                        <p> They are popular mungs based on record of today ! If you want to know more about them, Then
                            Click !! </p>
                    </div>

                            <div id="square1">
                                <div class="image-container">
                                    <div class="img_frame" id="image-container_1"></div>
                                    <div class="img_frame" id="image-container_2"></div>
                                    <div class="img_frame" id="image-container_3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>


<section id="counter" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_counter_area text-center">
                    <div class="row">
                        <div class="single_counter border_right">
                            <div class="col-sm-3 col-xs-12">
                                <div class="single_counter_item">
                                    <h2 class="statistic-counter">42</h2>
                                    <h3>visitors</h3>
                                </div>
                            </div>
                        </div>
                        <div class="single_counter">
                            <div class="col-sm-3 col-xs-12">
                                <div class="single_counter_item">
                                    <h2 class="statistic-counter">10</h2>
                                    <h3>mungs</h3>
                                </div>

                            </div>
                        </div>
                        <div class="single_counter">
                            <div class="col-sm-3 col-xs-12">
                                <div class="single_counter_item">
                                    <h2 class="statistic-counter">15</h2>
                                    <h3>adoption</h3>
                                </div>
                            </div>
                        </div>
                        <div class="single_counter">
                            <div class="col-sm-3 col-xs-12">
                                <div class="single_counter_item">
                                    <h2 class="statistic-counter">99</h2>
                                    <h3>new member</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="doservice" class="doservice">
    <div class="container">
        <div class="row">
            <div class="main_doservice sections">
                <div class="head_title text-center">
                    <h4 class="subtitle">Service</h4>
                    <h2>how to use 멍결고리</h2>
                    <div class="separator"></div>
                    <p>We provide a lot of interesting services for users to increase attention about abandoned dogs and adoption rate.<br>
                    Let me tell you our three main services </p>
                </div>
                <div class="col-sm-6">
                    <div class="single_doservice">
                        <div class="single_doservice_img">
                            <img src="../static/images/메페.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="single_doservice">
                        <div class="single_doservice_acording">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title" >
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                 MGTI
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            MGTI는 MBTI 성격검사와 유사한 저희의 자체 제작 검사입니다. <br> 이 검사를 통해 여러분과 어울리는 강아지를 추천받아보세요!
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                 Chatting
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            페르소나가 부여된 강아지와 친구처럼 대화해볼 수 있습니다!! 여러분과 잘 맞는 강아지를 찾아 대화를 시도해보세요
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                interesting profile of dogs
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            기존의 진부한 강아지 소개가 아닌, 흥미로운 소개를 제공합니다. 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script>
    var dogs = `{{ dogs | tojson }}`
    var dogsJson = JSON.parse(dogs)
    
    dogsJson.dog.forEach((dog, index) => {
        var container_name = `#image-container_${index + 1}`
        var container = document.querySelector(container_name);
    
        // dog-card div 생성
        var dogCard = document.createElement("div");
        dogCard.classList.add("dog-card");

        // a 태그 생성
        var a = document.createElement("a");
        a.href = "/main/introduction/" + dog.animal_id;

        // img 태그 생성
        var img = document.createElement("img");
        img.src = dog.diffusion_profile_image;
        img.alt = dog.animal_id;

        // 이름, 나이 정보 div 생성
        var infoDiv = document.createElement("div");
        infoDiv.id = "info";

        // 이름 정보 생성
        var nameDiv = document.createElement("div");
        nameDiv.innerHTML = `<span class="highlight">이름</span><span class="highlight2"> : ${dog.animal_name}</span>`;

        // 나이 정보 생성
        var ageDiv = document.createElement("div");
        ageDiv.innerHTML = `<span class="highlight">나이</span><span class="highlight2"> : ${dog.age}</span>`

        // 각 요소를 적절한 위치에 추가
        infoDiv.appendChild(nameDiv);
        infoDiv.appendChild(ageDiv);
        a.appendChild(img);
        dogCard.appendChild(a);
        dogCard.appendChild(infoDiv);

        // 생성된 dogCard를 image-container에 추가
        container.appendChild(dogCard);
    });
</script>


{% endblock %}